/* Fonts */
@font-face {
  font-family: "Cookie";
  src: url(../fonts/CookieDough.ttf);
}

* {
  box-sizing: content-box;
}

header,
footer {
  background-color: #141514;
}
footer {
  text-align: center;
}
body {
  background-color: #1d3049;
  color: white;
}

h1,
h2 {
  font-family: "Cookie", sans-serif;
  font-weight: 300;
  color: salmon;
}
h1 {
  font-size: 2rem;
  margin: 5px;
}
h2 {
  margin: 1rem;
}

/* Header */
.logo {
  height: 2rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 1rem;
  padding: 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  ul {
    flex-direction: row;
  }
}

li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.7rem;
}
li a:hover {
  background-color: grey;
}
.active {
  background-color: #04aa6d;
}
/* table */
table,
th,
td {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 0.2rem;
}
table {
  margin: 1rem auto;
}
.table::-webkit-scrollbar {
  width: 5px;
}
.table::-webkit-scrollbar-track {
  background-color: pink;
}
.table::-webkit-scrollbar-thumb {
  background-color: #141514;
}
.table {
  width: 80%;
  margin: 1rem auto;
  overflow-x: auto;
}

.tableheader {
  color: white;
  background-color: red;
}

/* container */

.main-container {
  background-color: #208aae;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
}
footer {
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
