/* Fonts */
@font-face {
  font-family: "Cookie";
  src: url(../fonts/CookieDough.ttf);
}

* {
  box-sizing: content-box;
}
html {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #141514;
}
body {
  background-color: #190061;
  color: white;
}
footer {
  text-align: center;
}

h1,
h2 {
  font-family: "Cookie", sans-serif;
  font-weight: 300;
  color: salmon;
}
h1 {
  font-size: 2rem;
  margin: 5px;
}
h2 {
  margin: 1rem;
}

/* Header */
.logo {
  height: 2rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 1rem;
  padding: 1rem;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  .menu {
    flex-direction: row;
  }
}
.menu li {
  margin: 0.4rem;
}
.menu li a {
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  margin: 0.5rem;
}
.menu li a:hover {
  background-color: grey;
}
.active {
  background-color: #04aa6d;
}
/* table */
table,
th,
td {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 0.2rem;
}
table {
  margin: 1rem auto;
}
.table::-webkit-scrollbar {
  width: 1px;
}
.table::-webkit-scrollbar-track {
  background-color: grey;
}
.table::-webkit-scrollbar-thumb {
  background-color: #141514;
}
.table {
  width: 80%;
  margin: 1rem auto;
  overflow-x: auto;
}

.tableheader {
  color: white;
  background-color: #282828;
}
/* form */

form {
  display: inline-block;
}
label {
  float: left;
  margin-right: 5px;
}
input {
  float: right;
}

/* container */

.main-container {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article {
  background-color: #240090;
  width: 35%;
  margin: 1rem 0;
  padding: 1rem;
}
footer {
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
